     
@media (min-width: 1199.98px) {
        .sticky {
    position:fixed;
     top: 0;
     width:99.15%

    }
     ul.header{
    list-style-type: none; 
    margin:0; 
    overflow:hidden;
    background-color: rgb(90, 90, 90);
    text-align: center;
    }
    ul.header > li{
      display: inline-block;
      padding: 50px 25px;
    }
    ul.header > li > a{
      
      font-size: 25px;
      font-family: Garamond, serif;
      color: white;
      text-decoration: none;
      
      }
      ul.header > li > a:hover{
      background-color: rgb(27, 26, 26);
      }
    .inTop{
      background-image:url('../images/IMG_0468.jpg');
      background-size: cover; height: 100%; width: 100%; padding-top:80px;
    }
   
    }
    .inline{
      text-align:center; 
      padding-right: 25px;
      padding-top: 20%;
      font-size: 150px; 
      font-family: Garamond, serif; ;
      color: whitesmoke;
    }
    .op{
      text-align:center;
      font-size: 50px; 
      font-family: Garamond, serif; 
      color: black;
      padding-right: 50px;
    }
    .txt {
      padding-left: 50px; 
      padding-right: 250px;
      font-size: 25px;
      font-family: Garamond, serif; 
    }
    .imgtext{
    position: absolute;
    top: 60%;
    left: 54%;
    color: white;

    }
    .imgbox{
      margin: auto;
      position: relative;
      padding-left: 150px;
  
    }
    .txtbox{
    margin: auto;
    position: relative;
    padding-left: 150px;
    padding-top: 50px;
    }
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

    }
    .slideshow{
    max-height: 250px;
    max-width: 1000px;
    position: relative;
    margin:auto
    
    }
    .mySlides {
    display: none;
    
    }
    img{
      max-height: 250;
      max-width: 250;
      border: 22 black;
    
    }
    
    video{
      position: absolute; 
      top: 100px;
      left: 25%; 
      width: 1020px;
      height:780px; 
    } 
    @-webkit-keyframes fade {
     from {opacity: .4} 
    to {opacity: 1}
    
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    
